.header {
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background: url('../../assets/Alexa.jpg') no-repeat center center/cover;
    position: relative;
    animation: fadeInBackground 2s ease-in-out; /* Animación inicial */
    overflow: hidden;
  }
  
  /* Animación para el fondo (fade-in) */
  @keyframes fadeInBackground {
    from {
      opacity: 0;
      transform: scale(1.1); /* Inicia con un leve zoom */
    }
    to {
      opacity: 1;
      transform: scale(1); /* Regresa a su tamaño normal */
    }
  }
  
  /* Efecto Parallax */
  .header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece ligeramente la imagen */
    z-index: 1;
  }
  
    
    .header .container {
      z-index: 2;
      position: relative;
    }
    
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(30px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    /* Aplica las animaciones */
    .header h1 {
      animation: fadeInUp 1.5s ease-out;
    }
    
    .header p {
      animation: fadeInUp 2s ease-out;
    }
    
    .header a {
      animation: fadeInUp 2.5s ease-out;
    }
  
    .header .btn {
      background-color: #2ECC71; /* Verde esmeralda */
      color: #FFFFFF; /* Blanco */
      border: none;
      padding: 12px 24px;
      font-size: 1.2rem;
      font-weight: bold;
      border-radius: 30px; /* Botón redondeado */
      transition: all 0.3s ease;
    }
    
    .header .btn:hover {
      background-color: #27AE60; /* Más oscuro al pasar el mouse */
      transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    }

    .mt-3 {
      color: #FFFFFF !important;
    }
  